@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum pharetra neque quis vehicula. Nam eget arcu nec dolor tempus ultricies convallis sed tortor. Vivamus fringilla velit et commodo auctor. Sed dapibus volutpat ex, nec posuere sem molestie eget. Nullam id mollis tellus. Integer sit amet lectus egestas, commodo dui sed, blandit tellus. Sed pulvinar, arcu quis ultrices ultricies, lorem dolor sagittis justo, at fringilla diam orci nec felis. Duis fermentum accumsan nulla sed eleifend. Nulla pharetra est vitae dolor dignissim ultrices. Aliquam laoreet ex vitae nisl auctor placerat. Etiam posuere ac nisl ut ullamcorper. Duis ultricies et tellus mattis venenatis. Curabitur dui ante, feugiat vel lacus id, faucibus suscipit neque. Donec maximus augue sit amet tempor tincidunt. Donec blandit ante non porttitor aliquet. Maecenas velit nisi, fermentum quis luctus in, placerat sed lectus.

Nunc sodales in ligula sed maximus. Nulla odio nisi, dignissim nec rutrum sed, luctus eget nisi. Nam dictum ante in rutrum volutpat. Aliquam eget arcu commodo, ultricies lectus quis, bibendum quam. In quis ante non neque placerat tincidunt. Praesent a consectetur mi, a lobortis lectus. Aliquam faucibus ante quis diam lacinia, venenatis fermentum felis convallis. Vestibulum in sapien vel est pharetra consectetur. Sed molestie tortor ipsum, nec ultrices nulla pretium at. Suspendisse potenti. Vivamus placerat, sem quis accumsan fermentum, erat neque aliquam nisl, sit amet dignissim magna lacus ut dolor. Duis ultricies convallis eros ut consequat. Etiam tempus dolor non condimentum luctus. Praesent ut lacinia tortor. Sed varius enim a tortor viverra placerat.

Nullam convallis, ipsum et fringilla semper, metus neque viverra lectus, sed facilisis leo massa nec mi. Phasellus ultricies nulla ultricies nunc porttitor, sit amet faucibus mauris elementum. Nam cursus massa nec sem pulvinar, eu pellentesque massa tristique. Pellentesque volutpat magna eget rhoncus viverra. Aenean maximus posuere libero sit amet maximus. Duis aliquet lacus sed tristique feugiat. Aenean a justo metus. Aliquam fermentum lacinia libero, a efficitur sapien venenatis nec.

Sed condimentum porttitor odio eu vestibulum. Sed eu tellus sit amet neque feugiat fringilla. Curabitur faucibus ex nulla, at egestas dui venenatis euismod. Donec et porttitor magna. Aenean sem lorem, feugiat at massa a, hendrerit euismod lorem. Quisque sed varius ipsum. Quisque posuere in ligula non consectetur. Donec non luctus velit. In vehicula efficitur eros quis blandit. Vivamus rhoncus erat neque, non maximus enim pretium vel. Quisque ullamcorper dictum accumsan. Mauris ex lacus, euismod tempor vulputate aliquam, placerat at nibh. Cras sagittis, est vitae.
</div>
